div a {
    color:black;
    
}

div a:hover {
    color:#0225F4;
    text-decoration: underline #0225F4;
}

.title {
    text-align: center;
}

.subtitle {
    color: grey;
    font-size: 0.8em;
}

.cart {
    display:flex;
    align-items: center;
    justify-content: flex-start;
}

.inline {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.check {
    margin-right: 0.5em;
}

#mainContainer{
    margin-top: 2em;
}

#remove{
    color:white;
    background: #888 ;
    border-radius: 50%;
}

#remove:hover{
    color:white;
    background: #666 ;
    border-radius: 50%;
}
